* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
}

.block-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;

  padding-right: 5em;
  padding-right: 3em;
  width: 100vw;
  height: 20vh;
  background: #34547a;
}

.block-2 {
  width: 100vw;
  height: 85vh;
  margin-top: -25px;
  background: #eeeff1;
}

.block-2 h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  padding-top: 100px;
}

.block-2 .text {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  margin: 0 auto;
  width: 540px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #727272;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 30px;

  width: 540px;
  margin: 0 auto;
  padding-top: 65px;
}
.form input {
  padding: 12px 36px;
  text-align: left;
  border: 1px transparent;
}
.form textarea {
  width: 540px;
  border: 1px transparent;
}

.form .btn {
  padding: 20px 61px;
  border: 1px solid;
  background: #34547a;
}

.form .btn a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1300px) {
  .block-1 {
    column-gap: 30px;
  }
}

@media screen and (max-width: 635px) {
  .block-1 {
    padding-left: 15px;
    flex-flow: column wrap;
    height: 400px;
  }
  .block-2 {
    width: 100vw;
    height: 80vh;
    background: #eeeff1;
  }

  .block-2 h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .block-2 .text {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    margin: 0 auto;
    width: 200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
  }
  .form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    gap: 30px;
    background: #eeeff1;
    width: 350px;
    margin: 0 auto;
    padding-top: 35px;
  }
  .form input {
    padding: 6px 18px;
    text-align: left;
  }
  .form textarea {
    width: 220px;
  }
  .form .btn {
    padding: 10px 41px;
    border: 1px solid;
    background: #34547a;
    margin-bottom: 30px;
  }
}
